
ANTHROPIC_API_KEY=sk-ant-api03-xxxxx
OPENROUTER_API_KEY=sk-or-v1-xxxxx
AI_GATEWAY_API_KEY=vck_xxxxx

ELEVENLABS_API_KEY=sk_xxxxx
FAL_API_KEY=xxxxx-xxxx-xxxx-xxxx-xxxxx:xxxxx

# Deployment used by `npx convex dev`
CONVEX_DEPLOYMENT=dev:xxxxx-xxxx-xxxx # team: fromyou, project: fyos
NEXT_PUBLIC_CONVEX_URL=https://xxxxx-xxxx-xxxx.convex.cloud
NEXT_PUBLIC_CONVEX_SITE_URL=https://xxxxx-xxxx-xxxx.convex.site
SITE_URL=http://localhost:3001

R2_TOKEN=xxxxx
R2_ENDPOINT=https://xxxxx.r2.cloudflarestorage.com
R2_REGION=auto
R2_ACCESS_KEY_ID=xxxxx
R2_SECRET_ACCESS_KEY=xxxxx
R2_BUCKET=your-bucket-name
NEXT_PUBLIC_R2_PUBLIC_BASE=https://pub-xxxxx.r2.dev
R2_PUBLIC_HOST=https://xxxxx.r2.cloudflarestorage.com/your-bucket-name

NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxxxx
CLERK_SECRET_KEY=sk_test_xxxxx
CLERK_JWT_ISSUER_DOMAIN=https://xxxxx-xxxx-xxxx.clerk.accounts.dev
NEXT_PUBLIC_CLERK_FRONTEND_API_URL=https://xxxxx-xxxx-xxxx.clerk.accounts.dev
EXA_API_KEY=xxxxx-xxxx-xxxx-xxxx-xxxxx

NEXT_PUBLIC_BASE_URL=https://yourdomain.com
NEXT_PUBLIC_R2_PUBLIC_HOST=https://yourdomain.com
